<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Personas</h2>
    </div>
</div>

<div class="row m-t-50">
    <div class="col-md-6 offset-md-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Documento</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of personas">
                    <td>{{ row.nombre }}</td>
                    <td>{{ row.edad }}</td>
                    <td>{{ row.sexo }}</td>
                    <td>
                        {{ row.documento.nombre ? row.documento.nombre : "" }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form autocomplete="off">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameField">Nombre</label>
                        <input
                            type="text"
                            id="nameField"
                            name="nameField"
                            class="form-control"
                            placeholder="Escribe tu nombre"
                            [(ngModel)]="persona.nombre"
                        />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameField">Edad</label>
                        <input
                            type="number"
                            id="ageField"
                            name="ageField"
                            class="form-control"
                            placeholder="Escribe tu edad"
                            [(ngModel)]="persona.edad"
                        />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameField">Sexo</label>
                        <select
                            class="form-select form-control"
                            name="genderField"
                            [(ngModel)]="persona.sexo"
                        >
                            <option value="" selected disabled>
                                Selecciona una opción
                            </option>
                            <option value="Mujer">Mujer</option>
                            <option value="Hombre">Hombre</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickInputFile()"
                    >
                        <i class="fa fa-paperclip"></i> Subir documento
                    </button>
                </div>

                <div class="col-md-4" *ngIf="persona.documento.data">
                    <i class="fa fa-paperclip float-left"></i>
                    <p class="float-left m-l-10">
                        {{ persona.documento.nombre }}
                    </p>
                </div>

                <div class="col-md-1">
                    <input
                        type="file"
                        class="hidden"
                        id="fileField"
                        (change)="agregarArchivo()"
                    />
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-md-2">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="guardarPersona()"
                    >
                        Guardar
                    </button>
                </div>
            </div>

            <div class="row m-t-50">
                <div class="col-md-4 offset-md-4">
                    <h5 class="text-center">https://randomapi.com</h5>
                </div>
            </div>
        </form>
    </div>
</div>
