/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #fafbfd;
}

$i: 0;
@while $i<=50 {
    .m-t-#{$i} {
        margin-top: #{$i}px;
    }
    $i: $i + 5;
}

$i: 0;
@while $i<=50 {
    .m-l-#{$i} {
        margin-left: #{$i}px;
    }
    $i: $i + 5;
}
